
html {
  font-size: 100%;
}

#header {
  display: flex;
  top: 0px;
  align-items: center;
  justify-content: center;
  padding: 1px 1px 0px 4px;
  background: #ED2091;
  width: 100%;
  color: #fafafa;
  box-shadow: 0px 2px 2px #333;
  max-height: 80px;
}

#nameDiv {
  margin-top: 20px;
  font-family: 'Merriweather', serif;

}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  color: #333;

}

button {
  box-shadow: 1px 1px 4px #8E92B9;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

/* .pic-n-switch {
  flex-shrink: 
} */

#nameDiv {
  width: 100%;
  font-size: 3vmax;
}

#imgDiv {
  flex-direction: row;
}

.switch-btn {
  width: 150px;
  height: 30px;
  padding: 5px 5px 5px 5px;
  text-transform: uppercase;
  color: #333;
  background: #F2EFF9;
  border: solid 1px #ccc;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;

}

.pic-n-switch {
  flex-direction: column;
  align-items: center;
}

#switchSpecialBtn {
  display: none;
  align-self: flex-end;
  margin-top: 10px;
}

.standImg {
  padding: 10px;
  width: 150px;
  height: 150px;
}

#creds {

}

#mixNamesBtn {

}

#controls {
  padding-top: 10px;
}

#checkBoxes {
  margin-top: 20px;
  flex-flow: row wrap;

}

#specialCheck {
  flex-flow: row wrap;
  padding-top: 20px;
}

#specialPicAndSwitch {
  align-self: flex-end;
  justify-self: flex-end;
}

p {
  font-size: 0.85rem;
  padding: 0px 20px 0px;
  align-self: flex-start;
}

.toggle {
  font-size: 1rem;
  margin: 10px 10px 0 0;
}

.toggle-input {
  opacity: 0;
}

span.toggle-button:focus {
  box-shadow: 2px 2px blue;
}

.toggle-button {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  background: #f3f3f3;
  color: #aaa;
  border: solid 1px #ccc;
  padding: 5px 10px 5px 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 1px 1px 4px #8E92B9;
}

.toggle-button::before {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  content: "";
  transition: all 0.3s ease;
}

.toggle-input:checked + .toggle-button {
  background: #fab;
  border-color: #fab;
  color: #f3f3f3;
}

#part3Checkbox:checked + .toggle-button {
  background: #000080;
  border-color: #000080;
}

#part4Checkbox:checked + .toggle-button {
  background: #ff80ff;
  border-color: #ff80ff;
}

#part5Checkbox:checked + .toggle-button {
  background: #ffb400;
  border-color: #ffbf00;
}

#part6Checkbox:checked + .toggle-button {
  background: #99cc00;
  border-color: #99cc00;
}

#part7Checkbox:checked + .toggle-button {
  background: #80e5ff;
  border-color: #80e5ff;
}

#part8Checkbox:checked + .toggle-button {
  background: #28aaaa;
  border-color: #28aaaa;
}

#specialCheckbox:checked + .toggle-button {
  background: #333;
  border-color: #333;
}

.toggle-input:checked + .toggle-button::before {
  background-color: #f3f3f3;
}

@media only screen and (min-width: 768px) {
  #specialCheck {
    flex-flow: row wrap;
    align-items: center;
    justify-content: baseline;

  }
  p {
    width: 50%;
    align-self: center;
  }
  #switchSpecialBtn {
  display: none;
  }

}